.carousel {
   overflow: hidden;
   display: none;
}

@media (max-width: 556px) {
    .carousel {
        overflow: hidden;
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    .carousel-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
    
    .inner {
        white-space: nowrap;
        transition: transform 0.3s;
    }
    
    
    .indicators {
        display: flex;
        justify-content: center;
    
    }
    
    .indicators > button {
        margin: 5px;
        padding: 4px;
        background-color: #00000066;
        border: none;
        border-radius: 50%;
    }
}

@media (max-width: 540px) {
    .carousel {
        overflow: hidden;
        display: block;
        margin: 0 auto;
        width: 400px;
    }
}


@media (max-width: 428px) {
    .carousel {
        overflow: hidden;
        display: block;
        width: 320px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    .carousel {
        overflow: hidden;
        display: block;
        width: 310px; 
        margin: 0 auto;
    }
}

@media (max-width: 340px) {
    .carousel {
        overflow: hidden;
        display: block;
        width: 280px; 
        margin: 0 auto;
    }
}